<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<meta name="google-site-verification" content="yAc3iWy5pdZFw1jgZJgz3j77J1sHUZqc_wVIL4dW8QI" />
<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>